body{
  background: #03DAC6;
  font-family: Arial;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container{
  border-style: solid;
  border-color: red;
  width: 400px;
  height: 400px;
  display: block;

}

.inner-container{
  display: block;
  position: relative;
  margin: 50px;
  border-style: solid;
  width : 300px;
  height: 250px;
  padding: 20px;

}

h1{
  display: block;
}
